head {
color:white;
}
body {
        max-width:500px;
        margin:auto;
        color:white;
        font-family:Helvetica;
        font-weight:700;
        background-repeat:no-repeat;
        background-size:fill;
}
table {
    color: red;
    background-color:white;
    font-weight:700;
}
a {
    color: DarkRed;
}
a:activate
h1 {
    color:red;
}
h2 {
    color:white;
}
h1:hover {
    color:white;
}
div{
    
}
.boxx {
    color:red;
    background-color: white;
    text-align: center;
    position: absolute;
    width: 100px;
    left: 450px;
    top:650px;    
    border-radius:10px;
}
.box {
    width:300px;
    text-align: center;
    position: absolute;
    left: 100px;
    top:450px;
    visibility:visible;
}
.box:hover{
    animation: box 3s forwards;
}
@keyframes box{
    from{
        width:300px;
    }
    to {
        width:350px;
    }
}
.main:hover{
    animation: main 3s forwards;
}
@keyframes main{
    from{
        width:300px;
    }
    to {
        width:350px;
    }
}
.main {
    width:300px;
    text-align: center;
    position: absolute;
    left: 1500px;
    top:400px;
}
.pyra {
    width:400px;
    text-align: center;
    position: absolute;
    left: 650px;
    top:500px;
}
.mythra {
    width:400px;
    text-align: center;
    position: absolute;
    left: 850px;
    top:500px;
}
#main {
     color:red;
    width: 100px;
    background-color: white;
    text-align: center;
    border-radius:10px;
    position: absolute;
    left: 1400px;
    top:650px;
}
.morag {
    width:500px;
    text-align: center;
    position: absolute;
    left: 100px;
    top:300px;
    padding: 0px;
    border-style:outset;
}
.genno{
    width:500px;
    text-align: center;
    position: absolute;
    left: 1400px;
    top:300px;
    padding: 0px;
    border-style:outset;
}
.attack {
    width:300px;
    text-align: center;
    position: absolute;
    left: 375px;
    top:100px;
    padding: 0px;
    border-style:outset;
}
.meter {
    width:300px;
    text-align: center;
    position: absolute;
    left: 1225px;
    top:230px;
    padding: 0px;
    border-style:outset;
}
.chartc {
    width:300px;
    text-align: center;
    position: absolute;
    left: 375px;
    top:550px;
    padding: 0px;
    border-style:outset;
}
.combo {
    width:300px;
    text-align: center;
    position: absolute;
    left: 1225px;
    top:600px;
    padding: 0px;
    border-style:outset;
}
.chain {
    width:300px;
    text-align: center;
    position: absolute;
    left: 1225px;
    top:525px;
    padding: 0px;
    border-style:outset;
}
#acb {
    width:300px;
    text-align: center;
    position: absolute;
    left: 375px;
    top:835px;
    padding: 0px;
    border-style:outset;
}
#lvl {
    width:300px;
    text-align: center;
    position: absolute;
    left: 375px;
    top:100px;
    padding: 0px;
    border-style:outset;
}
#chain {
    width:300px;
    text-align: center;
    position: absolute;
    left: 1225px;
    top:850px;
    padding: 0px;
    border-style:outset;
}
.morag:active{
    animation: morag 3s forwards;
}
@keyframes morag{
    from{
        filter: invert(0%);
    }
    to {
        filter: invert(100%);
}